<%= image_tag @post.image.url(:medium) %>
<h1><%= @post.title %></h1>
<p><%= @post.link %></p>
<p><%= @post.description %></p>
<p><%= @post.user.name %></p>
<p><%= pluralize(@post.get_likes.size, "Like") %></p>
<P><%= pluralize(@post.get_dislikes.size, "Dislike") %></p>
 

<%= link_to "Like", like_post_path(@post), method: :get %>
<%= link_to "Dislike", dislike_post_path(@post), method: :get %>


<h2><p><%= @post.comments.count %>: comments</p></h2>
	<% @comments.each do |comment| %>
			<p><%= username= comment.user.name %></p>
		    <p><%= content= comment.content %></P>
	<% end -%>	    	

	<%= render 'comments/form' %>
	

<%= link_to "Edit", edit_post_path %>
<%= link_to "destroy", post_path(@post), method: :delete, data: { confirm: "are you sure"} %>

<%= link_to "home", root_path %>